In [1]:
import pandas as pd
import numpy as np
import pyspark
from pyspark.sql.functions import col, expr, lit, concat
from pydataset import data

## Create a spark data frame that contains your favorite programming languages.

* The name of the column should be language
* View the schema of the dataframe
* Output the shape of the dataframe
* Show the first 5 records in the dataframe

In [2]:
df=pd.DataFrame({'language': ['python','python','python','python','python','python','python','python',
                         'python','python','python',]})

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/08 13:59:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df=spark.createDataFrame(df)

In [5]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [6]:
print(df.count(), "rows", len(df.columns), "columns")

11 rows 1 columns

In [7]:
df.show(5)

+--------+
|language|
+--------+
|  python|
|  python|
|  python|
|  python|
|  python|
+--------+
only showing top 5 rows

## Load the mpg dataset as a spark dataframe.

* Create 1 column of output that contains a message like the one below:


    * The 1999 audi a4 has a 4 cylinder engine.
    
    For each vehicle.  

* Transform the trans column so that it only contains either manual or auto.

In [8]:
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [9]:
output=mpg.select(concat(lit('The'), lit(' '),
                  mpg.year, lit(' '),
                  mpg.manufacturer, lit(' '),
                  mpg.model, lit(' has a '), 
                  mpg.cyl, lit(' cylinder engine.'))
                 .alias('output')).show(5, truncate=False)
output

+-----------------------------------------+
|output                                   |
+-----------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.|
|The 1999 audi a4 has a 4 cylinder engine.|
|The 2008 audi a4 has a 4 cylinder engine.|
|The 2008 audi a4 has a 4 cylinder engine.|
|The 1999 audi a4 has a 6 cylinder engine.|
+-----------------------------------------+
only showing top 5 rows

## Load the tips dataset as a spark dataframe.

* What percentage of observations are smokers?
* Create a column that contains the tip percentage
* Calculate the average tip percentage for each combination of sex and smoker.